*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-background-color: #e7ecef;
    --card-background-color: #a3cef1;
    --button-background-color: #6096ba;
    
}