*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    /* colors */
    --main-background-color: #e7ecef;
    --card-background-color: #a3cef1;
    --button-background-color: #6096ba;
    --button-text-color: #fff;

    /* font */
    --font-family: 'Poppins', sans-serif;
    --font-size: 1rem;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

body{
    width: 100%;
    font-family: var(--font-family);
}

main{
    width: 100%;
    height: 100vh;
    background-color: var(--main-background-color);
}

.quizz-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

/* timer */

.timer{
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

/* quizz header */

.quizz-header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 50px;
    padding: 1rem;
}
.quizz-header h1{
    font-size: 2.5rem;
}

/* button start */
button{
    width: 50%;
    height: 50px;
    border: none;
    font-size: 1.5em;
    font-weight: var(--font-weight-bold);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
}
/* quizz body style */
.quizz-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 1rem;
    display: none;
}

/* style h2 question container */
.quizz-body h2{
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9rem;
    font-weight: var(--font-weight-medium);
    background-color: var(--card-background-color);
    color: var(--button-text-color);
}
/* answer div container */
.answer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* answer button style */
.option{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

/* answer question style background even && odd */
.option:nth-child(2n+1){
    background-color: #ffa69e;
    color: #fff;
}
.option:nth-child(2n+2){
    background-color: #aed9e0;
    color: #fff;
}

/* responsive */

@media only screen and (min-width: 600px){
    .quizz-header{
        width: 50%;
    }

    .quizz-body{
        width: 60%;
    }
}